* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    max-width: 100vw;
}

:root {
    --bs-primary: #066B99;
    --bs-secondary: #FF9809;
}

h1,h2,h3,h4,h5,h6, p {
    margin: 0;
}

.program-card {

    border-radius: 20px;
    background: #F5F5F5;
    box-shadow: 0.5px 0.5px 2px 2px rgba(0, 0, 0, 0.25);
}

