<div class="card border-0 rounded-4 shadow-sm">
    <!-- Header -->
    <div class="bg-info text-center p-4 rounded-top-4">
        <h5 class="fw-bold mb-1">Academic History</h5>
        <p class="mb-0">History of all previously taken subjects</p>
    </div>

    <!-- Body -->
    <div class="bg-white p-4 rounded-bottom-4">
        <table class="table table-bordered align-middle text-center">
            <thead class="table-light">
                <tr>
                    <th scope="col">Course Code</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Units</th>
                    <th scope="col">Instructor</th>
                    <th scope="col">Remarks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>SCI1</td>
                    <td class="text-start">Science, Technology, and Society</td>
                    <td>3</td>
                    <td>Marjim dela Cruz</td>
                    <td class="fw-bold text-success">Passed</td>
                </tr>
                <tr>
                    <td>CC104</td>
                    <td class="text-start">Data Structures and Algorithms</td>
                    <td>3</td>
                    <td>Mary Anne Manandeg</td>
                    <td class="fw-bold text-success">Passed</td>
                </tr>
                <tr>
                    <td>PE2</td>
                    <td class="text-start">Rhythmic Activities</td>
                    <td>2</td>
                    <td>Mitoselah Barroga</td>
                    <td class="fw-bold text-danger">Dropped</td>
                </tr>
                <tr>
                    <td>NET101</td>
                    <td class="text-start">Networking 1</td>
                    <td>3</td>
                    <td>Manuel Abiera</td>
                    <td class="fw-bold text-success">Passed</td>
                </tr>
                <tr>
                    <td>IS104</td>
                    <td class="text-start">Systems Analysis and Design</td>
                    <td>3</td>
                    <td>Lalaine Josefa Carrao</td>
                    <td class="fw-bold text-warning">INC</td>
                </tr>
                <tr>
                    <td>IAS102</td>
                    <td class="text-start">Information Assurance and Security</td>
                    <td>3</td>
                    <td>Mary Jean Jayobo</td>
                    <td class="fw-bold text-success">Passed</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
